*{
    text-align: center;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
}


body{
     background-color: rgb(255, 245, 253);
}


header {
  
height: 100px;
display: flex;
justify-content: center;
text-align: center;
font-size: 33px;

}

