main{
    margin-left: 50px;
}

select{
    padding: 10px 32px;
    background-color: rgb(250, 246, 241);
    text-align: center;
    font-size: x-large;
}

div{
    margin: 1%;
    padding: 2%;
    height: 450px;
    width: 400px;
    display: inline-block;
    background-color: rgb(250, 246, 241);
    border-radius: 15%;

}


h1{
    font-size: 400%;
    font-weight: bolder;
    margin: 3%;
    font-family: 'Josefin Sans', sans-serif;
    border: solid black;
    padding: 2%;
}
