@import '../css/reset.css';
@import '../css/base.css';
@import '../css/layouts.css';
@import '../css/modules.css';


*{
    text-align: center;
}

img {
    height: 300px;
    width: 300px;

}

section{
    margin-top: 2%;
    padding: 0%;
    height: 350px;
    width: 350px;
    display: inline-block;
}

.photo-template{
    display: none;
}

main{
    margin-left: 50px;
}